<div class="alert alert-danger" role="alert" *ngIf="alertVisible" [@slideInOut]>
  {{ validateMsg }}
</div>

<div class="container title-create-form-container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h1>My <span id="todo-orange-bg">Todo</span></h1>
      <div class="flex-container">
        <div class="btn-create-container">
          <button class="btn-create" (click)="toggleCreateTask()">{{ !showCreateTask ? 'Create': 'Cancel'}}
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
      <div class="flex-container">
        <div id="add-task-container" [class.hidden]="!showCreateTask">
          <form
            [formGroup] = "form"
            (ngSubmit) = "doAddTask()"
          >
            <label for="taskname"></label>
            <input type="text" name="taskname" id="task-name" formControlName="taskName" value="" autocomplete="off" placeholder="Type here ..">
            <br/>
            <button *ngIf="!showEditTask">Add task</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="taskList$ | async as task else taskListLoader" class="container task-list-container">
  <div id="task-list" class="flex-container" *ngIf="task.data.length > 0 else emptyContainer">
    <div class="col-task-container">
      <div *ngFor="let taskData of task.data; let i = index" class="col-task">
        <div class="flex-col-task-container">
          <div class="col-task-name-contain" #detailTaskName>
            <span>added task</span>
            <br>
            <div>
              {{ taskData.taskName }}
            </div>
          </div>
          <div class="flex-task-input">
            <input class="hidden" type="text" value="{{ taskData.taskName }}" #inputTaskName>
          </div>
          <div class="col-task-actions">
            <span (click)="toggleEditTask(i)" [class.hidden]="showEditTask">
              <fa-icon [icon]="faPenSquare"></fa-icon>
            </span>
            <span [class.hidden]="showEditTask" (click) = "doDeleteTask(taskData._id)">
              <fa-icon [icon]="faCheckSquare"></fa-icon>
            </span>
            <button 
              [class.hidden]="!showEditTask || !activeUpdateBtn"
              #btnTaskUpdate
              (click)="doUpdateTask( taskData._id,i)"
            >Save</button>
          </div>
        </div>
      </div>
      </div>
  </div>
  <ng-template #emptyContainer>
    <div class="empty-container">
      <div>
        <fa-icon [icon]="faCalendarTimes"></fa-icon>
        <br/>
        nothing to show
      </div>
    </div>
  </ng-template>
</div>

<ng-template #taskListLoader>
  <div class="container">
    <div class="flex-container">
      <div class="loader-container">
        <img src="assets/gif/loading-spinner.gif" height="50px" width="50px" alt="">
      </div>
    </div>
  </div>
</ng-template>